<<<<<<< HEAD
<%= @choicetv.category %>
<%= @choicemv.category %>
=======
<%= @service.category %>
>>>>>>> d6dce70dc3e7a4c4003b7153783cbe21a234d997
<!-- <!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title> Rainy Day </title>
  </head> 
  <body class="home">
    <h1> RAINY DAY </h1>   
    <form method="POST" action="/category" class ="home">
      <input type="radio" name="tv_shows" value="tv_shows" checked>TV Shows
      <br>
      <input type="radio" name="movies" value="movies">Movies
      <br>
      <input type="submit">
    </form>
  </body> -->