<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title> Rainy Day </title>
  </head> 
  <body class="home">
    <h1> Rainy Day </h1>   
    <form method="POST" action="/tv" class ="home">
      <input type="radio" name="category" value="tv">TV Shows
      <br>
      <input type="submit" value="Next">
    </form>
    <form method="POST" action="/movies" class ="home">
      <input type="radio" name="category" value="movie">Movies
      <br>
      <input type="submit" value="Next">
    </form>
    
    <h2>The movie option, as well as a few TV sub-genres, is still being developed. </h2>
    
    <img id="construction" src="http://brodiehomestead.com/wp-content/uploads/2013/10/under-construction-logo.gif" align= "center">
    <p>Created by Carson Levine and Lucien Fox-Denize.</p>
    <img id="flatiron" src="http://flatironschool.com/images/logo.png">
  </body>
</html>