<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title> Rainy Day - Movies </title>
  </head> 
  <body class="home">
    <h1> RAINY DAY </h1>
    <form method="POST" action="/mvsubgenre">
      <input type="radio" name="genre" value="Comedy Movies">Comedy
      <br>
      <input type="radio" name="genre" value="Drama Movies">Drama
      <br>
      <input type="radio" name="genre" value="Sci-Fi Movies">Sci-Fi
      <br>
      <input type="radio" name="genre" value="Action Movies">Action and Adventure
      <br>
      <input type="radio" name="genre" value="Horror Movies">Horror
      <br>
      <input type="radio" name="genre" value="Kids Movies">Kids and Family
      <br>
      <input type="radio" name="genre" value="Documentary Movies">Documentaries
      <br>
      <input type="radio" name="genre" value="Anime Movies">Anime
      <br>
      <input type="submit">
    </form>
  </body>
</html>