<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title> Rainy Day - TV Shows </title>
  </head> 
  <body class="home">
    <h1> Rainy Day - TV Shows</h1>
    <form method="POST" action="/tvgenre">
      <input type="radio" name="genre" value="Comedy">Comedy
      <br>
      <input type="radio" name="genre" value="Drama">Drama
      <br>
      <input type="radio" name="genre" value="Reality">Reality
      <br>
      <input type="radio" name="genre" value="Sci-Fi">Sci-Fi
      <br>
      <input type="radio" name="genre" value="Kids">Kids
      <br>
      <input type="submit">
    </form>
  </body>
</html>