<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title> Rainy Day - TV Subgenre</title>
  </head> 
  <body class="home">
    <%  if @tvsubgenre == @sitcom_tv %>
    <h1> TV Shows: Comedy - Sitcom </h1>
    <!--   display sitcom hashes here   -->
    <%  elsif @tvsubgenre == @talk_show_tv %>
    <h1> TV Shows: Comedy - Talk Show </h1>   
    <!--   display talk show hashes here   -->
    <%  elsif @tvsubgenre == @satire_tv %>
    <h1> TV Shows: Comedy - Satire </h1>
    <!--   display satire hashes here   -->
    <% end %>
  </body>
</html>

  