body.view {
  background-color: blue;
  font-family: 'Questrial', sans-serif;
  color: white;
}
body.puppies {
  background-image: url("http://images2.fanpop.com/image/photos/9400000/Aaaaaawwwwwwwwww-Sweet-puppies-9415255-500-375.jpg");
  font-family: 'Questrial', sans-serif;
  color: white;
  font-size: 300%;
}
body.hedgehogs {
  background-image: url("http://media.giphy.com/media/P0YuSLm6q4xfq/giphy.gif");
  font-family: 'Questrial', sans-serif;
  color: white;
}

body.victoria {
  background-image: url("http://static.001.students.flatironschool.com/images/vicfriedman.jpeg");
  font-family: 'Questrial', sans-serif;
  color: white;
}